@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;0,700;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html,body{
    height: 100%;
}

body{
font-family: 'Epilogue', sans-serif;

}

:root{
--AlmostWhite: hsl(0, 0%, 98%);
--MediumGray: hsl(0, 0%, 41%);
--AlmostBlack: hsl(0, 0%, 8%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.contenedor{
    display: flex;
    padding: 20px;
}
.contenedor .title{
    font-size: 30px;
    font-weight: 700;
    padding-right: 25px;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 7px;
  list-style: none;
  
}

li{
  list-style: none;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.compa{
  font-size: 14px;
}

.feat{
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.carer{
  font-size: 14;
}

.submenu svg{
  padding-right: 10px;
  padding-left: 0;
}

.feat:hover{
  border-radius: 20px;
  width: 90px;
  height: 15px;
  background-color:rgb(232, 232, 232);
}

.compa:hover{
  border-radius: 20px;
  width: 90px;
  height: 11px;
  background-color:rgb(232, 232, 232);
}

.conte{
  display: flex;
  text-align: center;
  justify-content: center;
}

.carer{
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.submenu{
  display:none;
  position: absolute;
  padding-top: 3px;
}

.submenu li p{
  padding-left: 20px;
  font-size: 12px;
}

.menu li:hover .submenu{
  display: block;
  width: 110px;
  background-color: white;
  border-radius: 10px;
  box-shadow:0.5px 0.5px 2px rgb(153, 153, 153);
  text-align: left;
  padding-left: 0px;
}

.menu li:hover .up{
  transform:rotate(180deg);
  transform-origin: 50% 50%;
}

.menu li:hover .submenu2{
padding-left: 0;
padding-top: 5px;
text-align: left;
}

.menu2{
  padding: 0;
}

.menu2 li:hover{
  background-color:rgb(232, 232, 232);
  border-radius: 20px;
  width: 110px;
}

/* .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 5px;
} */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding-top: 5px;
    width: 90px;
    height: 20px;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding-top: 5px;
    border: 1px black solid;
    border-radius: 30px;
    width: 90px;
    height: 20px;
    
}

.register:hover{
    background-color: black;
    color: white;
}

.login:hover{
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: 30px;
}

.sesion{
    padding-left: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu p{
    font-size: 14px;
}

.features{
    display: flex;
    gap: 15px;
}

.company{
    display: flex;
    gap: 15px;
}

.central{
    display: flex;
}

.text{
    padding-top: 110px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

.text .titulo{
    font-size: 60px;
    font-weight: 700;
}

.image img{
    width: 380px;
    height: 480px;
    padding-top: 30px;
}

.text .pequeño{
    width: 340px;
    line-height: 25px;
    font-size: 14px;
    color: var(--MediumGray);
    padding-bottom: 50px;
}

.text .learn{
font-size: 13px;
border: 1px solid black;
width: 90px;
height: 30px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.learn:hover{
    background-color: black;
    color: white;
}

.logos{
    padding-top: 90px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;

}

.features:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(187, 182, 182);
  border-radius: 20px;
  width: 100px;
}

.company:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100px;
  background-color:rgb(187, 182, 182);
}
